{% extends 'layouts/app.html' %}

<!-- Inicio bloque body -->
{% block body %}
<header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand mx-5" href="/" class="titulogolden">
        <img src="https://i.pinimg.com/originals/37/da/a7/37daa7a295d1c30859c0959624187e6a.png" alt="" width="30"
          height="24" class="d-inline-block align-text-top">
        Golden Eventos
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link  mx-1" aria-current="page" href="/">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active mx-1" href="/contracts">Contratos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-1" href="/users">Usuarios</a>
          </li>
        </ul>
        <form class="d-flex"></form>

        <li class="nav-item" style="list-style:none">
          Hola, {{current_user.name}}
        </li>

        <li class="nav-item" style="list-style:none">
          <a class="nav-link mx-1 " href="{{url_for('auth_router.logout')}}">Cerrar Sesion</a>
        </li>
      </div>
    </div>
  </nav>
</header>

<section class="container my-5">
  <div class="content">
    <div class="row">
      <h1>Registrar Nuevo Contrato</h1>
      <hr>
    </div>
  </div>
</section>

<div class="container">
  <form action="{{url_for('contract_router.store')}}" method="POST">
    <div class="mb-3">
      <label for="contract" class="form-label">Nombre y Apellido Cliente</label>
      <input type="text" class="form-control" name="client">
    </div>
    <div class="mb-3">
      <label for="" class="form-label">Tipo de Evento</label>
      <select class="form-select"  name="tipe">
        <!--<option selected>Seleccionar Color Adornado</option>-->
        <option value="Bautizo">Bautizo</option>
        <option value="Quinceaños">Quinceaños</option>
        <option value="Graduacion">Graduacion</option>
        <option value="Matrimonio">Matrimonio</option>
        <option value="Conferencia">Conferencia</option>
        <option value="Confirmacion">Confirmacion</option>
      </select>
    </div>

    <div class="mb-3">
      <label for="" class="form-label">Color</label>
      <select class="form-select" name="color">
        <option selected>Seleccionar Color Adornado</option>
        <option value="Rojo">Rojo</option>
        <option value="Naranja">Naranja</option>
        <option value="Lila">Lila</option>
        <option value="Azul">Azul</option>
        <option value="Morado">Morado</option>
        <option value="Verde">Verde</option>
        <option value="Dorado">Dorado</option>
        <option value="Celeste">Celeste</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="" class="form-label">Fecha</label>
      <input type="date" class="form-control" name="date">
    </div>
    <!--<div class="mb-3">
      <label for="" class="form-label">El contrato del local es de 3000bs </label>
      <br>
      <label for="" class="form-label">Servicios Adicionales (cualquier servicio adicional te sale 1000bs mas)</label>
      <br> 
      Amplificacion<input name="id"  type="checkbox" value="1000" onclick="sumar()" /><br>
      Garzones<input name="id"  type="checkbox" value="1000" onclick="sumar()" /><br>
      Bocaditos<input name="id"  type="checkbox" value="1000" onclick="sumar()" /><br>
      Animador<input name="id"  type="checkbox" value="1000" onclick="sumar()" /><br>
    </div>-->
    
    <div class="col-lg-12 mx-5">
      <label for="" class="form-label">El contrato del local es de 3000bs </label>
      <br>
      <label for="" class="form-label">Servicios Adicionales </label>
      <br> 
      <div class="checkbox">
        <label>
          <input type="checkbox" class="checkbox select-all">{{ ('SELECCIONAR TODO') }}
        </label>
      </div>
      
      <ul class="detectul list-unstyled row">

        <li class="listitems col-sm-12">
          <div class="checkbox">
            <label>
              <input name="check[]" type="checkbox" class="checkbox" value="2000">
              &nbsp;Amplificacion 2000 Bs.
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input name="check[]" type="checkbox" class="checkbox" value="1000">
              &nbsp;Animador      1000 Bs.
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input name="check[]" type="checkbox" class="checkbox" value="500">
              &nbsp;Bocaditos     500 Bs.
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input name="check[]" type="checkbox" class="checkbox" value="1000">
              &nbsp;Garzones      1500 Bs.
            </label>
          </div>

        </li>


      </ul>
    </div>
    <button type="button" onclick="sumSel()" class="btn btn-primary" >Mostrar el Total</button>
    <br>
    <div class="mb-3">
      <label for="" class="form-label">Fecha</label>
      <input type="number" class="form-control" name="total"   id="total" ><br>
    </div>
    <button type="submit" class="btn btn-dark" >Guardar</button>
    <br>
   
    <br>
    <br>
    <br>
    <br>
  </form>
</div>


{% endblock %}
<!-- Fin bloque body -->

{% block css%}

{% endblock %}
<!-- Fin bloque estilos -->

{% block js%}
<script>

</script>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
  //process multiple invoices
  $(document).on('change', '.select-all', function () {
    if ($(this).is(':checked')) {
      $('[name="check[]"]').each(function () {
        $(this).prop('checked', true);
      });
    } else {
      $('[name="check[]"]').each(function () {
        $(this).prop('checked', false);
      });
    }
  });
  ///
  function sumSel() {
    var array = []
    var checkboxes = document.querySelectorAll('input[type=checkbox]:checked')
    for (var i = 0; i < checkboxes.length; i++) {
      array.push(checkboxes[i].value)
    }
    if (array[0] == 'on' && array.length == 1 || array.length == 0) {
      var sum = 0;
      for (var i = 0; i < array.length; i++) {
        sum = sum + parseInt(array[i]);
      }
      sum = sum + 3000
      Swal.fire(
        'Contrato procesado!',
        'La Suma es: ' + sum,
        'success'
      )
      document.getElementById('total').value = sum;
    } else {
      if (array[0] == 'on') {
        array.shift();

      }

      //sumar elementos de arrar
      var sum = 0;
      for (var i = 0; i < array.length; i++) {
        sum = sum + parseInt(array[i]);
      }
      sum = sum + 3000
      Swal.fire(
        'Contrato procesado!',
        'La Suma es: ' + sum,
        'success'
      )
      document.getElementById('total').value = sum;
    }
  }

  function sumtotal() {
    var array = []
    var checkboxes = document.querySelectorAll('input[type=checkbox]:checked')
   

      //sumar elementos de arrar
      var sum = 0;
      for (var i = 0; i < array.length; i++) {
        sum = sum + parseInt(array[i]);
      }
      sum = sum + 3000
      document.getElementById('eltotal').innerHTML = sum;
    
  }
</script>

{% endblock %}
<!-- Fin bloque scripts -->