{% extends 'layouts/app.html' %}
 
<!-- Inicio bloque body -->
{% block body %}
<header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand mx-5" href="/" class="titulogolden">
        <img src="https://i.pinimg.com/originals/37/da/a7/37daa7a295d1c30859c0959624187e6a.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
        Golden Eventos
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link  mx-1" aria-current="page" href="/">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active mx-1" href="/contracts">Contratos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-1" href="/users">Usuarios</a>
          </li>
        </ul>
        <form class="d-flex"></form>
        
        <li class="nav-item" style="list-style:none">
          Hola, {{current_user.name}}
        </li>

        <li class="nav-item" style="list-style:none">
          <a class="nav-link mx-1 " href="{{url_for('auth_router.logout')}}">Cerrar Sesion</a>
        </li>
      </div>
    </div>
  </nav>
</header>
 
<section class="container my-5">
      <div class="content">
            <div class="row">
                <h1>Registrar Nuevo Contrato</h1>
                <hr>
            </div>
      </div>
</section>

<div class="container">
  <form action="{{url_for('contract_router.store')}}" method="POST" >
    <div class="mb-3">
      <label for="contract" class="form-label">Nombre y Apellido Cliente</label>
      <input type="text" class="form-control" name="client">
    </div>
    <div class="mb-3">
      <label for="" class="form-label">Tipo de Evento</label>
      <input type="text" class="form-control" name="tipe">
    </div>
    <div class="mb-3">
      <label for="" class="form-label">Color</label>
      <select class="form-select" name="color">
        <option selected>Seleccionar Color Adornado</option>
        <option value="Rojo">Rojo</option>
        <option value="Naranja">Naranja</option>
        <option value="Lila">Lila</option>
        <option value="Azul">Azul</option>
        <option value="Morado">Morado</option>
        <option value="Verde">Verde</option>
        <option value="Dorado">Dorado</option>
        <option value="Celeste">Celeste</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="" class="form-label">Fecha</label>
      <input type="date" class="form-control" name="date">
    </div>
    <div class="mb-3">
      <label for="" class="form-label">El contrato del local es de 3000bs </label>
      <br>
      <label for="" class="form-label">Servicios Adicionales (cualquier servicio adicional te sale 1000bs mas)</label>
      <br>
      Amplificacion<input name="id"  type="checkbox" value="1000" onclick="sumar()" /><br>
      Garzones<input name="id"  type="checkbox" value="1000" onclick="sumar()" /><br>
      Bocaditos<input name="id"  type="checkbox" value="1000" onclick="sumar()" /><br>
      Animador<input name="id"  type="checkbox" value="1000" onclick="sumar()" /><br>
    </div>
    <div class="mb-3">
      <label for="" class="form-label">Total</label>
      <input type="number" class="form-control" id="informacion"  name="total"  >
    </div>
    <br>
    <button type="submit" class="btn btn-dark">Guardar</button>
    <br>
    <br>
    <br>
    <br>
  </form>
</div>


{% endblock %}
<!-- Fin bloque body -->
 
{% block css%}
 
{% endblock %}
<!-- Fin bloque estilos -->
 
{% block js%}
<script>

</script>
<script>
  function sumar(){
      obj = document.miform['id'];
      totalChecks = obj.length;
      totalSumado = 0;
      for( i=0; i<totalChecks; i++){ 
          if( obj[i].checked == true ){
              valor = obj[i].value.split('-');        
              totalSumado = totalSumado + parseInt(valor[0],10);
          }
      }
     // totalSumado = totalSumado + 3000;
      document.getElementById('informacion').innerHTML = totalSumado; 
  }
  </script>
{% endblock %}
<!-- Fin bloque scripts -->

