{% extends 'layouts/app.html' %}
 
<!-- Inicio bloque body -->
{% block body %}
<header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand mx-5" href="/" class="titulogolden" href="/#">
        <img src="https://i.pinimg.com/originals/37/da/a7/37daa7a295d1c30859c0959624187e6a.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
        Golden Eventos
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link  mx-1" aria-current="page" href="/home">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link  mx-1" href="/contracts">Contratos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active mx-1" href="/users">Usuarios</a>
          </li>
        </ul>
        <form class="d-flex"></form>
        
        <li class="nav-item" style="list-style:none">
          Hola, {{current_user.name}}
        </li>

        <li class="nav-item" style="list-style:none">
          <a class="nav-link mx-1 " href="{{url_for('auth_router.logout')}}">Cerrar Sesion</a>
        </li>
      </div>
    </div>
  </nav>
</header>
 
<section class="container my-5">
  <div class="content">
        <div class="row">
            <h1>Registrar Nuevo Usuario</h1>
            <hr>
        </div>
  </div>
</section>

<div class="container">
  <form action="{{url_for('user_router.store')}}" method="POST" class="needs-validation" novalidate>
    <div class="mb-3">
      <label for="user" class="form-label">Nombre y Apellido Usuario</label>
      <input type="text" class="form-control" name="name" required>
    </div>
    <div class="mb-3">
      <label for="" class="form-label">Email</label>
      <input type="email" class="form-control" name="email" required onkeyup="return forceLower(this)">
    </div>
    <div class="mb-3">
      <label for="" class="form-label">Nombre de Usuario</label onkeyup="return forceLower(this)">
      <input type="text" class="form-control" name="username" required>
    </div>
    <div class="mb-3">
      <label for="" class="form-label">Contrasena</label>
      <input type="password" class="form-control" name="password" required>
    </div>
    <div class="mb-3">
      <label for="" class="form-label">Cargo</label>
      <select class="form-select" name="cargo">
        <option selected>Seleccionar Cargo</option>
        <option value="administrador">Administrador</option>
        <option value="secretario">Secretario</option>
      </select>
    </div>
    <br>
    <button type="submit" class="btn btn-dark">Guardar</button>
    <br>
    <br>
    <br>
    <br>
  </form>
</div>

{% endblock %}
<!-- Fin bloque body -->
 
{% block css%}
 
{% endblock %}
<!-- Fin bloque estilos -->
 
{% block js%}
<script>

</script>
<script>
  function forcelower(strInput){
    strInput.value = strInput.value.toLowerCase()
  }
</script>

<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function () {
    'use strict'

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.querySelectorAll('.needs-validation')

    // Loop over them and prevent submission
    Array.prototype.slice.call(forms)
      .forEach(function (form) {
        form.addEventListener('submit', function (event) {
          if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
          }

          form.classList.add('was-validated')
        }, false)
      })
  })()
</script>
<script>
    function forceLower(strInput){
      strInput.value = strInput.value.toLowerCase();
    }
    //validate input password
    $('#password, #confirm_password').on('keyup', function() {
      if ($('#password').val() == '') {
          $('#message').html('Sin datos').css('color', 'white');
          $('#confirm_password').css("border-color", "red");
      } else if ($('#confirm_password').val() == $('input[name="password"]').val() && $('#confirm_password').val().length > 5) {
          
          var element = document.getElementById('confirm_password');
          element.style.border = "";
          var element = document.getElementById('confirm_password');
          element.style.border = "2px solid green";

          $('#message').html('Correcto').css('color', 'green');

      } else {
          $('#message').html('Las contraseñas no coinciden o es menor a 5 caracteres').css('color', 'red');
          $('#confirm_password').css("border-color", "red");
      }

  });
</script>

{% endblock %}
<!-- Fin bloque scripts -->
