{% extends 'layouts/app.html' %}
 
<!-- Inicio bloque body -->
{% block body %}
<header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand mx-5" href="/" class="titulogolden" href="/#">
        <img src="https://i.pinimg.com/originals/37/da/a7/37daa7a295d1c30859c0959624187e6a.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
        Golden Eventos
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link  mx-1" aria-current="page" href="/">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link  mx-1" href="/contracts">Contratos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active mx-1" href="/users">Usuarios</a>
          </li>
        </ul>
        <form class="d-flex"></form>
        
        <li class="nav-item" style="list-style:none">
          Hola, {{current_user.name}}
        </li>

        <li class="nav-item" style="list-style:none">
          <a class="nav-link mx-1 " href="{{url_for('auth_router.logout')}}">Cerrar Sesion</a>
        </li>
        
      </div>
    </div>
  </nav>
</header>
 
<section class="container my-5">
  <div class="content">
        <div class="row">
          
          {% with messages = get_flashed_messages() %}
              {% if messages %}
              {% for message in messages %}
              <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>Hey!</strong> {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
           
              {% endfor%}
              {% endif %}
              {% endwith%}
              
          
            <h1>Usuarios</h1>
            <hr>
            <br>
            <a href="{{url_for('user_router.create')}}" class="btn btn-secondary my-2">Registrar Nuevo Usuario</a>
            <br>
            <br>
            
             
            
              
              <div class="row">
                
                {% for data in users %}
                <div class="col-sm-6">
                  <div class="card text-dark bg-light my-3">
                    <div class="card-body">
                      <h5 class="card-title">{{data.name}}</h5>
                      <p class="card-text">Email : {{data.email}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cargo : {{data.cargo}}</p>
                      <p class="card-text">Nombre de Usuario : {{data.username}}</p>
                      <a href="{{url_for('user_router.delete', id = data.id)}}" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{url_for('user_router.edit', id = data.id)}}" class="btn btn-primary btn-sm"><i class="fa fa-edit"></i></a>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
              
           
        
          </div>
  </div>
</section>


{% endblock %}
<!-- Fin bloque body -->
 
{% block css%}
 
{% endblock %}
<!-- Fin bloque estilos -->
 
{% block js%}
<script>

</script>
{% endblock %}
<!-- Fin bloque scripts -->
