{% extends 'layouts/app.html' %}
 
<!-- Inicio bloque body -->
{% block body %}
  <div class="container">
    <h1 class="mt-5">USUARIOS</h1>
    <table class="table bg-light">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Email</th>
          <th scope="col">Usuario</th>
          <th scope="col">Cargo</th>
        </tr>
      </thead>
      <tbody>
        {% for row in users %}
        <tr>
          <td>{{row.id}}</td>
          <td>{{row.name}}</td>
          <td>{{row.email}}</td>
          <td>{{row.username}}</td>
          <td>{{row.cargo}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    
  </div>
 
{% endblock %}
<!-- Fin bloque body -->
 
{% block css%}
 
{% endblock %}
<!-- Fin bloque estilos -->
 
{% block js%}
<script>

</script>
{% endblock %}
<!-- Fin bloque scripts -->
