{% extends 'layouts/app.html' %}

<!-- Inicio bloque body -->
{% block body %}
<header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand mx-5" href="#" class="titulogolden" href="/#">
        <img src="https://i.pinimg.com/originals/37/da/a7/37daa7a295d1c30859c0959624187e6a.png" alt="" width="30"
          height="24" class="d-inline-block align-text-top">
        Golden Eventos
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active mx-1" aria-current="page" href="/login">Iniciar Sesion</a>
          </li>
          
          </li>
        </ul>
        

        
       
      </div>
    </div>
  </nav>
</header>





  <div class="container my-100px">
    <img src="../static/img/golden.png" alt="">
    <hr>
    <br>
    <h3 class="mx-6">Contactos: Llamada o WhatsApp 📱

        936 993 111 -
        994 893 558 </h3>
    <br>
  <hr>
</div>

<div class="container">
<div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4 font-italic">𝙑𝙞𝙫𝙚 𝙡𝙖 𝙢𝙚𝙟𝙤𝙧 𝙚𝙭𝙥𝙚𝙧𝙞𝙚𝙣𝙘𝙞𝙖 𝙥𝙖𝙧𝙖 𝙩𝙪 𝙛𝙞𝙚𝙨𝙩𝙖 𝙘𝙤𝙣 𝙡𝙖 𝙢𝙚𝙟𝙤𝙧 𝙥𝙧𝙤𝙢𝙤𝙩𝙤𝙧𝙖 𝙙𝙚 𝙚𝙫𝙚𝙣𝙩𝙤𝙨</h1>
      <p class="lead my-3">Direccion: 📍av 2 de octubre Mz d2 Lt 01 urb santa Ana los olivos</p>
    </div>
  </div>
</div>

<div class="container">
<br>
<h3 class>Gran variedad de decorados para el salon: </h3>
<br>
<div class="row">
  <div class="col-4">
    <div class="card bg-dark" style="width: 22rem;">
      <img src="../static/img/1color.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h3>Rojo</h3>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card bg-dark" style="width: 22rem;">
      <img src="../static/img/2color.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h3>Naranja</h3>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card bg-dark" style="width: 22rem;">
      <img src="../static/img/3color.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h3>Lila</h3>
      </div>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-4">
    <div class="card bg-dark" style="width: 22rem;">
      <img src="../static/img/4color.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h3>Azul</h3>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card bg-dark" style="width: 22rem;">
      <img src="../static/img/5color.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h3>Rojo</h3>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card bg-dark" style="width: 22rem;">
      <img src="../static/img/6color.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h3>Morado</h3>
      </div>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-4">
    <div class="card bg-dark" style="width: 22rem;">
      <img src="../static/img/7color.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h3>Verde Claro</h3>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card bg-dark" style="width: 22rem;">
      <img src="../static/img/8color.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h3>Dorado</h3>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card bg-dark" style="width: 22rem;">
      <img src="../static/img/9color.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h3>Celeste</h3>
      </div>
    </div>
  </div>
</div>
<br><br>
</div>




{% endblock %}
<!-- Fin bloque body -->

{% block css%}

{% endblock %}
<!-- Fin bloque estilos -->

{% block js%}
<script>

</script>
{% endblock %}
<!-- Fin bloque scripts -->